<p>select works!</p>
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Pais</mat-label>
    <input type="text"
           placeholder="Seleccione opción"
           aria-label="Pais"
           matInput
           [formControl]="myControlCountry"
           [matAutocomplete]="auto"
           (ngModelChange)="getSelectOption($event)">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>


  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Departamento</mat-label>
    <input type="text"
            placeholder="Seleccione departamento"
            aria-label="Departamento"
            matInput
            [formControl]="myControlDepartament"
            [matAutocomplete]="autoComplete"
            (ngModelChange)="getSelectOptionDepartament($event)"
            >
            <mat-autocomplete #autoComplete="matAutocomplete">
              <mat-option *ngFor="let departament of departaments" [value]="departament.name">
                {{ departament.name }}
              </mat-option>
            </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Ciudad</mat-label>
    <input type="text"
            placeholder="Seleccione Ciudad"
            aria-label="Ciudad"
            matInput
            [formControl]="myControlCity"
            [matAutocomplete]="autoCompleteCity"
            >
            <mat-autocomplete #autoCompleteCity="matAutocomplete">
              <mat-option *ngFor="let citie of cities" [value]="citie.name">
                {{ citie.name }}
              </mat-option>
            </mat-autocomplete>
  </mat-form-field>
</form>
